@font-face {
    font-family: 'Patchy Robots',sans-serif;
    src: url('http://fonts.cdnfonts.com/css/patchy-robots');
}

h1{
    font-family: "Patchy Robots";
    font-weight: 200;
    color: #b5b35c;
}